<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        h1, h2, .large { color: green; }
        .centered {text-align: center; }
        .large {font-size: 20px; }
    </style>
</head>
    <body>
        <p class="centered">
            <a href="https://hacktues.com">
                <img alt="Hack TUES GG" width="25%" src="https://hacktues.pythonanywhere.com/static/frontend/Facebook cover.png"/>
            </a>
        </p>
        <h1>Your account is almost created!</h1><br>
        <h2>Please click <a href="{{ link }}">here</a> to activate your account!</h2>
        <p class="large">Hack TUES GG Team</h3>
        <p>If you haven't registered anywhere, you may ignore this message - probably someone had accedently entered your e-mail address instead of their own.</p>
    </body>
</html>
