<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style >
        @import url("css.css");
    </style>
</head>
    <body>
        <div class="container">
            <div id="logoContainer">
                <p id="logo">
                          Hack TUES&nbsp;<span id="logoSpan">GG</span>
                </p>
            </div>
        <hr class="rounded">
        <h1>Вашият акаунт е почти готов!</h1><br>
        <h2>За да завършите регистрацията си, моля потвърдете имейла си.</h2>
        <button id="button"><a id="aButton" href="{{ link }}">Потвърждаване</a></button>
        <p id="text" class="large">Поздрави, <span id="textSpan">Екипът на Hack TUES GG</span></p>
        <p id="issue">If you haven't registered anywhere, you may ignore this message - probably someone had accedently entered your e-mail address instead of their own.</p>
    </div>
    </body>
</html>
