@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@font-face {
  font-family: LLPixel3;
  font-weight: regular;
  src:  local('llpixel3'), url(../fonts/llpixel3/LLPIXEL3.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -Rubik, -LLPixel, sans-serif;
  background-color: grey;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
