@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url(https://bg.allfont.net/allfont.css?fonts=llpixel);
@font-face {
  font-family: llpixel;
  font-weight: 400;
  src: url(../fonts/LLPIXEL3.ttf);
}

html {

  height: 100%;
}
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -Rubik, llpixel, sans-serif, LLPixel;
  background-color: grey;
  font-weight: 300;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel__dot-group {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 150px;
}